$color1: #f8f8f8;
$color2: #949494;
$color3: #2b3c42;
$color4: #dad8d8;
$color1t07: rgba($color1, 0.7);
$color1t05: rgba($color1, 0.5);
$color2t0: rgba($color2, 0);
$color2t03: rgba($color2, 0.3);
$color2t05: rgba($color2, 0.5);